[gui]
	recentrepo = C:/Users/77260/Documents/Git/Vital Replica Data
	recentrepo = C:/Users/77260/Documents/Git/VitalReplica
[user]
	email = apaneesar@coleman.edu
	name = Amrit Panesar
[merge]
	tool = C:\\Users\\77260\\Apps\\KDiff3\\kdiff3.exe
